ul.transactions{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;

  li.month {

    h3{
      color: #fff;
      font-weight: 100;
    }

    ul {
      width:100%;
      padding: 0;

      li {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        background-color: rgba(85, 85, 85, 0.5);
        margin-bottom: 1px;
        box-sizing: border-box;

        .transaction-details,
        .transaction-amounts {
          text-align: left;

          h3 {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 5px;
            color: #fff;
          }

          p {
            font-size: 12px;
            line-height: 14px;
            color: #fff;
          }
        }

        .transaction-amounts {
          text-align: right;
        }
      }
    }
  }
}